<div class = "row" style="margin-top:25">
    <div class = "col-sm-4">
         <h3 class = "text-center"> Feature Space </h3>
    </div>
    <div class = "col-sm-7">
         <h3 class = "text-center"> Restaurant Space </h3>
    </div>
    <div class = "col-sm-1">
        <a href = "#map">
            <input type = "button" class="btn btn-info" value = "Map View">
        </a>
    </div>
</div>

<div class = "col-sm-4"> 

    <table  ng-show = "isFeatureShown">  
        <h3 class = "text-center"> </h3>
        <tr ng-repeat = "y in searchfeature">
            <td> 
                <input type="checkbox" data-checklist-model="featurelist.searchfeature" data-checklist-value="y"> {{y}}
            </td>
        </tr>
        <tr>
            <td> <input type = "button" class="btn btn-info" ng-click = "select()" value = "Select All"> </td>
            <td> <input type = "button" class="btn btn-info" ng-click = "show()" value = "Show Restaurants"> </td>
            <td> <input type = "button" class="btn btn-info" ng-click = "clear()" value = "Reset"> </td>
        
        </tr>
    </table> 

</div>
 
<table class = "col-sm-8">
    <tr ng-repeat="x in restaurants">
        <td> 
            <input type="checkbox" data-checklist-model="user.restaurants" data-checklist-value="x"> {{ x.name }}
        </td>
        <td> {{ x.stars }}</td>
        <td> {{ x.price }} </td>
        <td> {{ x.category }} </td>
    </tr>
    <tr>
        <td> <input type="button" class="btn btn-info" ng-click="checkAll()" value="Select All"> </td>
        <td> <input type="button" class="btn btn-info" ng-click="search()" value="Find feature"> </td>
        <td> <input type="button" class="btn btn-info" ng-click="uncheckAll()" value="Reset"> </td>
    </tr>
</table>
