<div class = "row" style="margin-top:25">
    <div class = "col-sm-4">
         <h3 class = "text-center"> Feature Space </h3>
    </div>
    <div class = "col-sm-7">
         <h3 class = "text-center"> Restaurant Space </h3>
    </div>
    <div class = "col-sm-1">
        <a href = "#map">
            <input type = "button" class="btn btn-info" ng-click="setSelectedRestaurants()" value = "Map View">
        </a>
    </div>
</div>

<div class = "col-sm-4"> 

    <table  ng-show = "isFeatureShown">  
        <h3 class = "text-center"> </h3>
        <tr ng-repeat = "y in featuresToSearchFor">
            <td> 
                <input type="checkbox" data-checklist-model="foo.selectedFeatures" data-checklist-value="y"> {{y.name}}
            </td>
        </tr>
        <tr>
            <td> <input type = "button" class="btn btn-info" ng-click = "selectAllFeatures()" value = "Select All"> </td>
            <td> <input type = "button" class="btn btn-info" ng-click = "getSimilarRestaurants()" value = "Find Similar Restaurants"> </td>
        
        </tr>
    </table> 

</div>
 
<div class = "col-sm-8"> 
    <table>
        <tr>
            <td> Restaurant Name</td>
            <td> Stars</td>
            <td> Price</td>
            <td> Category</td>
        </tr>
        <tr ng-repeat="x in restaurants">
            <td> 
                <input type="checkbox" data-checklist-model="foo.selectedRestaurants" data-checklist-value="x"> {{ x.name }}
            </td>
            <td> {{ x.stars }}</td>
            <td> {{ x.price }} </td>
            <td> {{ x.category }} </td>
        </tr>
        <tr>
            <td> <input type="button" class="btn btn-info" ng-click="selectAllRestaurants()" value="Select All"> </td>
            <td> <input type="button" class="btn btn-info" ng-click="findFeaturesOfSelectedRestaurants()" value="Find feature"> </td>
            <td> <input type="button" class="btn btn-info" ng-click="resetAllRestaurants()" value="Reset"> </td>
        </tr>
    </table>
</div>
