<div class = "row">
    <h1 class = "text-center"> Where to eat? </h1>
</div>
<div class = "row" style="margin-left:15%; margin-right:15%; margin-top:50px">
    <div class = "col-md-3">
    </div>

    <div class = "col-md-6">  
        <input uib-typeahead="cityAndState as cityAndState.combined for cityAndState in uniqueCitiesAndStates | filter:{combined:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" ng-model="selectedCityAndState"> </br>
    </div>
    <div>
        <a href = "#search">
            <input type="button" class="btn btn-info pull-left" ng-click="setSelectedCityAndState()" value="Next">
        </a>
    </div>
</div>